
body{
    background-image:url("https://bit.ly/2s5jaw3");
    background-repeat: no-repeat;
    background-size: cover;
    color:black;
    background-attachment: fixed;
    text-align:center;
    font-size: 30px
    
}
img{
    border-radius: 30%;
    justify-content: center;
}
nav ul li{
    display:inline-block;
    list-style-type: none;
    
}
nav ul{
    text-align: center;
}
nav{
    padding-top:4px;
    width: 98%;
    height:1% auto;
    background-color:aquamarine;
    position:fixed;
    padding-right:40px;
    border-radius: 40px;
    

}
nav ul li a{
    text-transform: uppercase;
    text-decoration: underline;
    color:black;
    
    
}
li a{
    font-size:25px;
    color:rgb(214, 180, 180);
    padding:20px;
    
}
nav ul li a:hoover{
    text-decoration: none;
    
}
.active{
    color: black;
}
h1{
    text-transform: uppercase;
    font-size:30px;
}
 footer{
     background-color:aquamarine;
     font-size:30px;
     border-radius:40px;
     padding:2px;

 }
 
